<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FlexFit</title>
    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/home.css}" type="text/css"/>

</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<main>
    <div class="FlexFit">
        <h1>Flex Fit</h1>

        <div class="clubdisc">
            <p>— фитнес-клуб с оплатой за месяц. Это не просто клуб, а сообщество единомышленников, для которых физическая активность —  норма жизни. Кроме привычного фитнеса, мы устраиваем челленджи и соревнования среди сети, проводим открытые тренировки и устраиваем сайкл-забеги в торговых центрах. Всё это объединяет людей, неравнодушных к фитнесу.</p>
        </div>

        <div class="images">
            <img src="/images/home1.jpg">
            <img src="/images/home2.jpg">
            <img src="/images/home3.jpg">
        </div>
    </div>
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>