<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>


</head>
<body>

<header th:insert="~{blocks/header :: header}"></header>

<!--<div th:if="${param.error}" class="invalid_un_p">
    <p>Неправильное имя пользователя или пароль</p>
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>-->

<div class="login-form">

    <div th:if="${param.error}" class="invalid_un_p">
        <p>Неправильное имя пользователя или пароль</p>
    </div>

    <div class="login-form-form">

        <div>Вход в аккаунт</div>

        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Имя пользователя"/>
            <input type="password" name="password" placeholder="Пароль"/>
            <input type="submit" value="Войти"/>
        </form>

        <div>Ещё нет акканута? <a href="/registration">Регистрация</a></div>

    </div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>