<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>

</head>
<body>

<header th:insert="~{blocks/header :: header}"></header>

logout-ed!

</script>
<script src = "/js/order-products.js"></script>

<!--<script>
   window.onload = function () {
        getNumberOfItems();
    };
-->

</script>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>