<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/logout.css}" type="text/css"/>

</head>
<body>

<header th:insert="~{blocks/header :: header}"></header>
<div class="logout">
    <h2>Вы вышли из аккаунта</h2>
</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>