<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/static/css/catalog.css" rel = "stylesheet">
    <link href = "/static/css/general.css" rel = "stylesheet">
    <title>Каталог</title>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<form id="myForm" th:action="@{/shopping-cart-post}" th:object="${numberOfItems}" th:method="POST" style="display: none;">
    <input id="inputItems" style="display: none;" readonly th:field="*{number}">
</form>
<main class = "section">
    <div class = "container">
        <div class = "catalogFlex">
            <div class="catalog">
                <div class="product" th:each="prod : ${products}">
                    <img th:src="@{'/images/' + ${prod.getId()} + '.jpg'}" th:id = "'img' + ${prod.getId()}" width="300">
                    <div class="caption">
                        <p></p>
                        <p class="ProductName" th:id = "'name' + ${prod.getId()}" th:text = "${prod.getName()}"></p>
                        <p class="ProductPrice" th:id = "'price' + ${prod.getId()}" th:text="${prod.getPrice() + ' ₽'}"></p>
                        <div class = "description">
                            <p th:text="${prod.getDescription()}"></p>
                        </div>
                        <div class = "clickButtons">
                            <button class = "plusMinus" th:attr="onclick=|decrementQuantity('${prod.getId()}')|">-</button>
                            <input type = "number" min = "1" max = "10" value = "1" readonly th:id = "'quantity' + ${prod.getId()}">
                            <button class = "plusMinus" th:attr = "onclick=|incrementQuantity('${prod.getId()}')|">+</button>
                            <button class = "buyIt" id  = "buyButton" th:attr="onclick=|addToCart('${prod.getId()}')|" >В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
   window.onload = function () {
        getNumberOfItems();
    };


</script>
<script src = "/js/order-products.js"></script>

<!--<script>
   window.onload = function () {
        getNumberOfItems();
    };
-->setInterval(fillCartItems, 1000);

</script>

<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>




<!--<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link href = "/static/css/catalog.css" rel = "stylesheet">
    <link href = "/static/css/general.css" rel = "stylesheet">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<!-
<div>
    <h1>our shop :)</h1>
    <div th:each="el : ${products}">
        <h3 th:text="${el.name}"/>
        <p th:text="${el.description}"/>
        <p th:text="${el.price} + ' ₽'"/>

        <a th:href="'/buy/'+ ${el.id}">ПОДРОБНЕЕ</a>
    </div>
</div>
-->
<!--
<form id="myForm" th:action="@{/shopping-cart-post}" th:object="${numberOfItems}" th:method="POST" style="display: none;">
    <input id="inputItems" style="display: none;" readonly th:field="*{number}">
</form>

<main class = "section">
    <div class = "container">
        <div class = "catalogFlex">
            <div class="catalog">
                <div class="product" th:each="prod : ${products}">
                    <img th:src="@{'/images/' + ${prod.getId()} + '.jpg'}" th:id = "'img' + ${prod.getId()}" width="100">
                    <div class="caption">
                        <p class="title" th:id = "'name' + ${prod.getId()}" th:text = "${prod.getName()}"></p>
                        <p class="info" th:id = "'price' + ${prod.getId()}" th:text="${prod.getPrice() + ' ₽'}"></p>
                        <div class = "description">
                            <p th:text="${prod.getDescription()}"></p>
                        </div>
                        <div class = "clickButtons">
                            <button class = "plusMinus" th:attr="onclick=|decrementQuantity('${prod.getId()}')|">-</button>
                            <input type = "number" min = "1" max = "10" value = "1" readonly th:id = "'quantity' + ${prod.getId()}">
                            <button class = "plusMinus" th:attr = "onclick=|incrementQuantity('${prod.getId()}')|">+</button>
                            <button class = "buyIt" id  = "buyButton" th:attr="onclick=|addToCart('${prod.getId()}')|">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="/js/order-products.js"></script>

<script>
    window.onload = function () {
        getNumberOfItems();
    };
    setInterval(fillCartItems, 1000);
</script>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>
-->


